@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes moveIcon {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-15deg); } }

header {
  /*Shrinking for mobile*/ }
  header .header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, #df997e 0%, #e0a879 100%); }
    header .header .inner-header {
      height: 65vh;
      width: 100%;
      margin: 0;
      padding: 0; }
      header .header .inner-header.flex {
        /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
    header .header .textMove {
      letter-spacing: 2px;
      font-size: 48px;
      width: 0;
      color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
      font-size: 2rem;
      margin: 0 auto;
      border-right: 0.15em solid #ffffff;
      animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite; }
  header .waves {
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px; }
    header .waves .parallax > use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }
    header .waves .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s; }
    header .waves .parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s; }
    header .waves .parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s; }
    header .waves .parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s; }
  header nav .menuCircle {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    background-color: #d1865b;
    border-radius: 100%;
    z-index: 11; }
    header nav .menuCircle .menuHolder {
      position: fixed;
      right: 20px;
      top: 25px; }
      header nav .menuCircle .menuHolder .btn-contenedor {
        display: flex;
        flex-direction: column;
        background-color: #d1865b;
        border: 0; }
        header nav .menuCircle .menuHolder .btn-contenedor .barraBlanca {
          height: 5px;
          width: 40px;
          margin: 5px;
          border-radius: 10px;
          background-color: #fff; }
    header nav .menuCircle .menuWarp .menu {
      display: flex;
      margin-top: 40%;
      margin-left: 10%; }
      header nav .menuCircle .menuWarp .menu li {
        list-style: none;
        margin: 30px; }
      header nav .menuCircle .menuWarp .menu#menu {
        color: rgba(255, 255, 255, 0); }
  @media (max-width: 768px) {
    header .waves {
      height: 40px;
      min-height: 40px; }
    header .content {
      height: 30vh; }
    header h1 {
      font-size: 24px; }
    header .textMove {
      font-size: 14px; } }

.sectionAboutMe {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sectionAboutMe .imgPerfil {
    border-radius: 20px; }
  .sectionAboutMe .textAboutMe {
    margin-left: 30px;
    text-align: center;
    width: 25%; }

:root {
  --surface-color: #fff;
  --curve: 40; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8; }

@media screen and (max-width: 1050px) {
  .sectionAboutMe {
    flex-direction: column-reverse; }
    .sectionAboutMe .textAboutMe {
      width: 50%; } }

.sProyect {
  margin: 5% 30px; }
  .sProyect h2 {
    text-align: center; }
  .sProyect .proyects {
    margin: 5% 0px;
    display: flex;
    position: relative;
    justify-content: space-around; }
    .sProyect .proyects .cardProyect {
      background-color: rgba(255, 255, 255, 0) !important;
      border: none !important;
      transition: transform .1s ease-in;
      width: 350px; }
      .sProyect .proyects .cardProyect img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px; }
      .sProyect .proyects .cardProyect .divDescription {
        position: relative;
        top: -3%;
        background-color: #ecca9e;
        padding: 15px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; }
        .sProyect .proyects .cardProyect .divDescription h4, .sProyect .proyects .cardProyect .divDescription p {
          text-align: center; }
        .sProyect .proyects .cardProyect .divDescription .divFlex {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px; }
          .sProyect .proyects .cardProyect .divDescription .divFlex .btnSitio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 30px;
            background-color: #fceedc;
            border: none;
            border-radius: 10px;
            color: black;
            text-decoration: none; }
            .sProyect .proyects .cardProyect .divDescription .divFlex .btnSitio:hover {
              border: #ecb09e solid 2px;
              background-color: #f3eee7; }
      .sProyect .proyects .cardProyect:hover {
        transform: scale(1.03, 1.03); }

.sLanguage .carousel-item .itemCarousel {
  display: flex;
  justify-content: space-around; }
  .sLanguage .carousel-item .itemCarousel .logo {
    background-color: rgba(105, 105, 105, 0.116);
    margin: 10px;
    padding: 10px;
    border-radius: 10px; }
    .sLanguage .carousel-item .itemCarousel .logo p {
      padding: 5px;
      text-align: center; }

@media screen and (max-width: 1200px) {
  .proyects, .itemCarousel {
    flex-wrap: wrap; } }

footer {
  background-color: #e6bb99;
  padding: 2%; }
  footer .btnFooter {
    background-color: #c49571;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px; }
    footer .btnFooter:hover {
      background-color: #f0ccb0;
      border: 2px solid #c49571; }

@media screen and (max-width: 700px) {
  .scFooter {
    flex-wrap: wrap; } }

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }
