.sProyect{
    margin: 5% 30px;
    h2{
        text-align: center;
    }
    .proyects{
        margin: 5% 0px;
        display: flex;
        position: relative;
        justify-content: space-around;
        .cardProyect{
            background-color:rgba(255, 255, 255, 0) !important;
            border: none !important;
            transition: transform .1s ease-in;
            width: 350px;
            img{
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .divDescription{
                position: relative;
                top: -3%;
                background-color: #ecca9e;
                padding: 15px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                h4, p{
                    text-align: center;
                }
                .divFlex{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    .btnSitio{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                        height: 30px;
                        background-color: #fceedc;
                        border: none;
                        border-radius: 10px;
                        color: black;
                        text-decoration: none;
                        &:hover{
                            border: #ecb09e solid 2px;
                            background-color: #f3eee7;
                        }
                    }
                }
            }
            &:hover{
                transform: scale(1.03,1.03);
            }
        }
    }
}

.sLanguage{
    .carousel-item{
        .itemCarousel{
            display: flex;
            justify-content: space-around;
            .logo{
                background-color: rgba(105, 105, 105, 0.116);
                margin: 10px;
                padding: 10px;
                border-radius: 10px;
                p{
                    padding: 5px;
                    text-align: center;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .proyects, .itemCarousel {
        flex-wrap: wrap;
    }
    
}