.sectionAboutMe{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgPerfil{
        border-radius: 20px;
    }
    .textAboutMe{
        margin-left: 30px;
        text-align: center;
        width: 25%;
    }
}

:root {
    --surface-color: #fff;
    --curve: 40;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}

@media screen and (max-width: 1050px) {
    .sectionAboutMe{
        flex-direction:column-reverse;
        .textAboutMe{
            width: 50%;
        }
    }
}